.AppContainer{
    height: 100vh;
}

.fa {
    padding: .5em;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    background-color: black;
  }